/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
/* -------------------------------------------------------------
              *---- Bread Crumb Utility Styles ----*
   ------------------------------------------------------------- */
.u-ec-bread-crumb {
  padding: 10px; }
  .u-ec-bread-crumb__item {
    display: inline-block;
    padding: 10px 15px;
    list-style-type: none;
    font-family: "Open sans-serif";
    font-weight: lighter !important; }
    .u-ec-bread-crumb__item--icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #daadda; }
