@import 'bower_components/bem-constructor/dist/_bem-constructor';
@import '../variables/variables';
@include object('ec-btn-container') {
  margin-top: 36px;
}

@include object('ec-product') {
  padding: 0px;
  @include element('item') {
    display: -webkit-box;
    width: 100%;
    height: auto;
  }
  @include element('heading') {
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
    font-family: $font-family;
    font-weight: lighter !important;
    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }
  }
  @include element('info') {
    font-family: $font-family;
    font-weight: lighter !important;
    text-align: justify;
  }
  @include element('btn') {
    padding: 10px 25px;
    margin-top: 36px;
    color: #ffffff;
    font-size: 18px;
    font-family: $font-family;
    font-weight: lighter;
    border: none;
    text-shadow: 0px 1px 0px #000;
    text-decoration: none !important;
    background-color: #f06566;
    &:hover {
      color: #646464;
    }
    @media screen and (max-width: 1200px) {
      margin-top: 18px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }
}