body {
  padding: 0px !important;
  background-color: #dfdcd8 !important;
}

.app-wrapper {
  width: 100%;
}

.header-background {
  height: 112px;
  padding: 22px 0px;
  background-color: #fff;
}

@import 'variables/variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $header-weight-bold !important;
  padding-bottom: 15px;
}


/* -------------------------------------------------------------
                         *---- @imports ----*
   ------------------------------------------------------------- */

@import 'header/header';
@import 'body-content/content-wrapper';
@import 'bread-crumb-links/bread-crumbs';
@import 'products/products';