@import 'bower_components/bem-constructor/dist/_bem-constructor';
@import '../variables/variables';

/* 

    usage: component = c,
           object = o,
           utility = u 

*/


/* -------------------------------------------------------------
               *---- Header Component Styles ----*
   ------------------------------------------------------------- */

@include component('ec-header') {
  width: 100%;
  @include element('logo') {
    width: 192px;
    height: 66px;
  }
}

@include utility('ec-nav-menu') {
  margin-top: 12px;
  padding: 0px;
  @include element('item') {
    padding: 21px 15px 0px;
    float: left;
    color: #646464;
    font-family: $font-family;
    font-weight: bold;
    list-style-type: none;
    border-top: 3px solid #dfdcd8;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    @include modifier('hover') {
      padding-top: 10px;
      @include state('active') {
        padding-top: 31px !important;
        margin-top: -31px !important;
        color: #f06566 !important;
        border-top: 10px solid #f06566 !important;
        cursor: pointer !important;
        transition: 0.1s;
        animation-timing-function: ease-in-out;
      }
      &:hover {
        padding-top: 31px;
        margin-top: -31px;
        color: #f06566;
        border-top: 10px solid #f06566;
        cursor: pointer;
        transition: 0.1s;
        animation-timing-function: ease-in-out;
      }
    }
  }
  @include modifies-element('item') {
    margin-top: -5px;
  }
}

@include utility('ec-langauge-selector') {
  position: relative;
  top: 43px;
  @include element('item') {
    list-style-type: none;
    float: left;
  }
}

@include utility('ec-menu') {
  z-index: 100;
  position: absolute;
  right: 100%;
  left: -16.2%;
  width: 133%;
  margin: 42px 0px;
  padding: 0px;
  color: #f06566 !important;
  list-style-type: none;
  text-align: center;
  transition: 0.2s;
  @include element('item') {
    font-size: 24px;
    font-family: $font-family;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
    @include modifier('hover') {
      display: block;
      padding: 15px;
      color: #f06566 !important;
      text-decoration: none !important;
      transition: 0.2s;
      @include state('active') {
        color: #ffffff !important;
        background-color: rgba(240, 101, 102, 1);
      }
      &:hover {
        color: #646464 !important;
        background-color: rgba(240, 101, 102, 1);
        transition: 0.2s;
      }
      &:a {
        display: block;
        color: #ffffff !important;
        text-decoration: none;
      }
    }
  }
}

.show-menu {
  margin-top: 15px;
}

.glyphicon-menu-hamburger {
  font-size: 12px;
}


/* -------------------------------------------------------------
               *---- Header Component Styles ----*
   ------------------------------------------------------------- */