@import 'bower_components/bem-constructor/dist/_bem-constructor';
@import '../variables/variables';
/* -------------------------------------------------------------
              *---- Bread Crumb Utility Styles ----*
   ------------------------------------------------------------- */

@include utility('ec-bread-crumb') {
  padding: 10px;
  @include element('item') {
    display: inline-block;
    padding: 10px 15px;
    list-style-type: none;
    font-family: $font-family;
    font-weight: lighter !important;
    @include modifier('icon') {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #daadda;
    }
  }
}