@import 'bower_components/bem-constructor/dist/_bem-constructor';

/* -------------------------------------------------------------
             *---- Body Content Component Styles ----*
   ------------------------------------------------------------- */

.border {
  height: 1px;
  background-color: #dfdcd8;
}

@include component('products-wrapper') {
  width: 100%;
  margin-top: 45px;
  padding: 15px;
  background-color: #ffffff;
}

/* -------------------------------------------------------------
             *---- Body Content Component Styles ----*
   ------------------------------------------------------------- */