/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
/* -------------------------------------------------------------
             *---- Body Content Component Styles ----*
   ------------------------------------------------------------- */
.border {
  height: 1px;
  background-color: #dfdcd8; }

.c-products-wrapper {
  width: 100%;
  margin-top: 45px;
  padding: 15px;
  background-color: #ffffff; }

/* -------------------------------------------------------------
             *---- Body Content Component Styles ----*
   ------------------------------------------------------------- */
