/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.o-ec-btn-container {
  margin-top: 36px; }

.o-ec-product {
  padding: 0px; }
  .o-ec-product__item {
    display: -webkit-box;
    width: 100%;
    height: auto; }
  .o-ec-product__heading {
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
    font-family: "Open sans-serif";
    font-weight: lighter !important; }
    @media screen and (max-width: 768px) {
      .o-ec-product__heading {
        margin-top: 15px; } }
  .o-ec-product__info {
    font-family: "Open sans-serif";
    font-weight: lighter !important;
    text-align: justify; }
  .o-ec-product__btn {
    padding: 10px 25px;
    margin-top: 36px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Open sans-serif";
    font-weight: lighter;
    border: none;
    text-shadow: 0px 1px 0px #000;
    text-decoration: none !important;
    background-color: #f06566; }
    .o-ec-product__btn:hover {
      color: #646464; }
    @media screen and (max-width: 1200px) {
      .o-ec-product__btn {
        margin-top: 18px; } }
    @media screen and (max-width: 768px) {
      .o-ec-product__btn {
        width: 100%;
        text-align: center; } }
