/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
/* 

    usage: component = c,
           object = o,
           utility = u 

*/
/* -------------------------------------------------------------
               *---- Header Component Styles ----*
   ------------------------------------------------------------- */
.c-ec-header {
  width: 100%; }
  .c-ec-header__logo {
    width: 192px;
    height: 66px; }

.u-ec-nav-menu {
  margin-top: 12px;
  padding: 0px; }
  .u-ec-nav-menu__item {
    padding: 21px 15px 0px;
    float: left;
    color: #646464;
    font-family: "Open sans-serif";
    font-weight: bold;
    list-style-type: none;
    border-top: 3px solid #dfdcd8;
    text-transform: uppercase; }
    .u-ec-nav-menu__item:first-child {
      padding-left: 0px; }
    .u-ec-nav-menu__item:last-child {
      padding-right: 0px; }
    .u-ec-nav-menu__item--hover {
      padding-top: 10px; }
      .u-ec-nav-menu__item--hover.is-active {
        padding-top: 31px !important;
        margin-top: -31px !important;
        color: #f06566 !important;
        border-top: 10px solid #f06566 !important;
        cursor: pointer !important;
        transition: 0.1s;
        animation-timing-function: ease-in-out; }
      .u-ec-nav-menu__item--hover:hover {
        padding-top: 31px;
        margin-top: -31px;
        color: #f06566;
        border-top: 10px solid #f06566;
        cursor: pointer;
        transition: 0.1s;
        animation-timing-function: ease-in-out; }
  .u-ec-nav-menu > .u-ec-nav-menu__item {
    margin-top: -5px; }

.u-ec-langauge-selector {
  position: relative;
  top: 43px; }
  .u-ec-langauge-selector__item {
    list-style-type: none;
    float: left; }

.u-ec-menu {
  z-index: 100;
  position: absolute;
  right: 100%;
  left: -16.2%;
  width: 133%;
  margin: 42px 0px;
  padding: 0px;
  color: #f06566 !important;
  list-style-type: none;
  text-align: center;
  transition: 0.2s; }
  .u-ec-menu__item {
    font-size: 24px;
    font-family: "Open sans-serif";
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white; }
    .u-ec-menu__item--hover {
      display: block;
      padding: 15px;
      color: #f06566 !important;
      text-decoration: none !important;
      transition: 0.2s; }
      .u-ec-menu__item--hover.is-active {
        color: #ffffff !important;
        background-color: #f06566; }
      .u-ec-menu__item--hover:hover {
        color: #646464 !important;
        background-color: #f06566;
        transition: 0.2s; }
      .u-ec-menu__item--hover:a {
        display: block;
        color: #ffffff !important;
        text-decoration: none; }

.show-menu {
  margin-top: 15px; }

.glyphicon-menu-hamburger {
  font-size: 12px; }

/* -------------------------------------------------------------
               *---- Header Component Styles ----*
   ------------------------------------------------------------- */
